<table class="row" mc:hideable>
  <tr>
    <td class="ribbon__wrapper">

      <table class="twelve columns">
        <tr>
          <td class="four sub-columns ribbon__end">

            <hr/>

          </td>
          <td class="four sub-columns ribbon__body">
            <table class="ribbon">
              <tr>
                <td width="5" class="ribbon__left">
                  <img width="5" height="23" src="images/icon-ribbon-left.png" />
                </td>
                <td class="ribbon-text">
